.question-link {
	transition: 0.2s;
}

.question-link:hover {
	text-decoration: underline solid #8a8a8a;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 992px) {
	.hidden {
		display: inherit;
	}
}
