.hidden {
	display: none;
}

.link-div {
	transition: 0.2s;
	height: 100%;
}

.link-div:hover {
	background-color: #2f8256;
}

@media only screen and (min-width: 992px) {
	.hidden {
		display: inherit;
	}
}
