.question-link {
	transition: 0.2s;
}

.question-link:hover {
	text-decoration: underline solid #8a8a8a;
	color: '' #41b578 '';
}

.hidden {
	display: none;
}

.link-div {
	transition: 0.2s;
	height: 100%;
}

.link-div:hover {
	background-color: #2f8256;
}

@media only screen and (min-width: 992px) {
	.hidden {
		display: inherit;
	}
}
