[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.1"
django-cors-headers = "==3.2.0"
djangorestframework = "==3.11.0"
idna = "==2.8"
requests = "==2.22.0"
urllib3 = "==1.25.7"
pylint-django = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
